numpy>=1.24
pandas>=2.0
scipy
ipywidgets==7.7.1
notebook
jupyterlab>=3.0.0
distfit
plotly
pydantic
matplotlib
streamlit>=1.10
scikit-learn
openai
langchain
pypdf
chromadb
tiktoken
unstructured
pdf2image
tabulate